#anchors-navbar {
    border: 1px solid #ccc;
    box-shadow: 0px 1px 3px #ccc;
    padding: 5px 10px;
    position: fixed;
    background-color: #fff;
    right: 50px;
    top: 68px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 999;
    text-align: right;
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

#anchors-navbar-header {
    font-weight: bold;
    margin-bottom: 0;
}

#anchors-navbar ul {
    padding-left: 10px;
    padding-right: 0;
    margin-right: 0;
}

#anchors-navbar > ul {
    display: none;
    text-align: left;
    margin-right: 20px;
    margin-top: -5px;
}

#anchors-navbar:hover ul {
    display: block;
}

#anchors-navbar > ul li {
    list-style: none;
}

#anchors-navbar > ul li li {
    padding-left: 15px;
}

#goTop {
    position: fixed;
    right: 50px;
    bottom: 68px;
    border: 1px solid #ccc;
    z-index: 998;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    box-shadow: 0px 1px 3px #ccc;
    background-color: #fff;
    color: #333;
}

@media screen and (max-device-width: 769px) {
    #anchors-navbar {
        display: none;
    }

    #goTop {
     display: none;
    }
}
